.hs-interviews {
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		position: relative;
		margin: 0;
		padding: 30px 20px;
		@media only screen and (min-width: 768px) {
			padding: 10px 20px;
		}
		&:nth-child(odd) {
			background-color: fade-out(#efefef, .4);
		}
	}
	img {
		width: 100px;
	}
	.hs-meta {
		position: absolute;
		top: 30px;
		left: 140px;
		@media only screen and (min-width: 768px) {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.hs-name,
	.hs-affiliation {
		margin: 0;
	}
	.hs-social {
		margin: 10px 0 20px;
		text-align: center;
		@media only screen and (min-width: 768px) {
			position: absolute;
			margin: 0;
			top: 10px;
			right: 250px;
			top: 50%;
			transform: translateY(-50%);
		}
		[class^="icon-"],
		[class*=" icon-"] {
			&::before {
				width: 20px;
				height: 20px;
				color: #BCBEC0;
				border: 0;
			}
		}
		.social-links:hover {
			[class^="icon-"]:before,
			[class*=" icon-"]:before {
				color: #EC6851 !important;
				background-color: transparent;
			}
		}
	}
	.button {
		display: block;
		color: #EC6851;
		border-color: #EC6851;
		@media only screen and (min-width: 768px) {
			position: absolute;
			display: inline;
			margin: 0;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
		}
		&:hover {
			color: #FFF;
			background-color: #EC6851;
		}
	}
}

.episode-box {
	position: relative;
	overflow: hidden;
	&:hover {
		.episode-box__img {
			filter: blur(1px) grayscale(100%);
			&::after {
				opacity: 1;
			}
		}
		.episode-box__meta {
			opacity: 1;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: cover;
		border: 5px solid $white;
		content: "";
		filter: blur(1px) grayscale(100%);
		transition: .2s;
		@media only screen and (min-width: 768px) {
			filter: none;
		}
		&::after {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: fade-out($white, .1);
			content: "";
			opacity: 1;
			transition: .4s;
			@media only screen and (min-width: 768px) {
				opacity: 0;
			}
		}
	}
	&__meta {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: auto;
		max-width: 400px;
		padding: 20px;
		text-align: center;
		transform: translateY(-50%) translateX(-50%);
		opacity: 1;
		transition: .4s;
		@media only screen and (min-width: 768px) {
			opacity: 0;
		}
		p {
			font-weight: 700;
			line-height: 1.3;
		}
		.airdate {
			font-size: 14px;
			font-weight: 400;
		}
	}
}

div[class*="col-"] {
	padding: 0;
	position: relative;
}

.abs-img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	content: "";
	&.with-overlay::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		content: "";
	}
}

#masthead div[class*="header-"] {
	padding: 0;
}

.mobile-social,
.mobile-nav-toggle {
	display: none;
}

.guest-bio {
	display: flex;
	padding: 15px;
	border: 4px solid $darker-gray;
	.guest-image {
		position: relative;
		width: 100%;
		height: 100%;
		border: 2px solid white;
	}
	h4 {
		font-family: $header-font;
		margin-bottom: 0;
	}
	p {
		line-height: 1.2;
		margin-bottom: 10px;
	}
}

.button {
	font-family: $header-font;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 25px;
	font-size: 24px;
    letter-spacing: 0;
    padding: 0 15px;
    margin: 5px 0;
    border-radius: 0;
    transition: all .1s linear;
    &.sm-btn {
    	font-size: 14px;
    	line-height: 26px;
  		height: 30px;
    	color: $darker-gray;
    	border-color: $darker-gray;
    	margin-bottom: 0;
    	&:hover {
    		color: $white;
    		background-color: $darker-gray;
    	}
    }
    &.lg-btn {
    	font-size: 28px;
    	margin: 10px 0;
    	color: $white;
    	&:hover {
    		color: $primary;
    	}
    }
}

.network-news {
	position: relative;
	margin-bottom: 20px;
	border-right: 10px solid white;
	&:nth-child(even) {
		border-right: 0 solid white;
		border-left: 10px solid white;
	}
	.news-media-type {
		position: absolute;
		bottom: 15px;
		right: 15px;
		width: 65px;
  		height: 65px;
  		background-size: contain;
	}
}

.error-404.not-found {
	h1 {
		color: $primary;
		font-size: 6rem;
		text-transform: uppercase;
		letter-spacing: -1px;
		margin-bottom: 10px;
	}
}

.arc-full-height {
	height: 600px;
}

.arc-half-height {
	height: 300px;
}

.social-links {
	bottom: -4px;
	padding: 0 16px 0 0;
	font-size: 2.6rem;
	line-height: 26px;
	color: $darker-gray;
	&:visited {
		color: $darker-gray;
	}
	&:hover {
		color: $primary;
	}
	.fa {
		margin-top: 10px
	}
}

.episode-header {
	position: relative;
	padding: 250px 40px 20px;
	@media only screen and (max-width: 559px) {
		padding: 150px 30px 15px;
	}
	h1 {
		position: relative;
	}
	iframe {
		position: relative;
	}
}

.master-info {
	display: flex;
	.master-photo {
		position: relative;
		width: 185px;
		height: 185px;
		border: 2px solid $white;
		border-radius: 100px;
		.u-overlay-img {
			border-radius: 100px;
		}
	}
	.master-title {
		position: absolute;
		bottom: 4px;
  		left: 23px;
  		color: $white;
  		h2 {
			margin-bottom: 0;
			font-family: 'GothamBold';
			font-size: 30px;
			letter-spacing: .06rem;
  		}
  		p {
			font-size: 15px;
			letter-spacing: 0.02rem;
			line-height: 10px;
  		}
	}
	.master-icon {
		position: absolute;
		top: -8px;
		right: -8px;
		svg {
			width: 175px;
  			height: 175px;
  			path, polygon {
  				fill: $white;
  			}
		}
	}
	.master-social {
		position: absolute;
		bottom: 9px;
  		right: 15px;
		.social-links {
			i:before {
				margin: 0;
				color: $white;
				border-color: transparent;
			}
			&:hover {
				i:before {
					background-color: transparent;
					border-color: $white;
				}
			}
		}
	}
	@media only screen and (min-width: 960px) and (max-width: 1179px) {
		.master-photo {
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.master-title {
			bottom: 35px;
			left: 0;
			right: 0;
			text-align: center;
			h2 {
				font-size: 27px;
			}
		}
		.master-icon {
			position: absolute;
			top: 0;
			right: 0;
			svg {
				width: 75px;
	  			height: 75px;
			}
		}
		.master-social {
			left: 0;
			right: 0;
			text-align: center;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.master-photo {
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.master-title {
			bottom: 35px;
			left: 0;
			right: 0;
			text-align: center;
			h2 {
				font-size: 24px;
			}
		}
		.master-icon {
			position: absolute;
			top: 0;
			right: 0;
			svg {
				width: 75px;
	  			height: 75px;
			}
		}
		.master-social {
			left: 0;
			right: 0;
			text-align: center;
		}
	}
	@media only screen and (max-width: 559px) {
		.master-photo {
			top: -5px;
			width: 105px;
			height: 105px;
		}
		.master-title {
			bottom: 0;
			h2 {
				font-size: 18px;
			}
			p {
				font-size: 13px;
			}
		}
		.master-icon {
			position: absolute;
			top: 0;
			right: 0;
			svg {
				width: 60px;
	  			height: 60px;
			}
		}
		.social-links {
			bottom: 6px;
			i:before {
				width: 30px;
				height: 30px;
				font-size: 1.2em;
				line-height: 28px;
			}
		}
	}
}

#share-buttons {
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		display: inline-block;
		margin: 0 5px;
		font-size: 3rem;
	}
	a {
		color: $darker-gray;
		&:hover {
			color: $primary;
		}
	}
}

.master-image {
	.u-overlay-img {
		background-position: inherit;
	}
}
.master-bio {
	max-height: 175px;
	overflow: auto;
}

.u-mobile-show {
	display: none;
}
.u-mobile-hide {
	display: block;
}

@media only screen and (max-width: 1179px) {
	.button.lg-btn {
		font-size: 20px;
	}
	div[class*="arc-"] {
		padding: 20px 20px 20px 20px;
	}
}

@media only screen and (max-width: 959px) {
	.network-news {
		border-right: 10px solid white;
		&:nth-child(even) {
			border-left: 10px solid white;
		}
		.news-media-type {
			width: 45px;
	  		height: 45px;
		}
	}
	div[class*="arc-"] {
		margin-bottom: 20px;
	}
	.arc-full-height {
		height: 300px;
	}
}

@media only screen and (max-width: 767px) {
	.master-info {
		display: inline-block;
	}
	.master-image {
	    height: 312px;
	}
	.network-news {
		border-right: 0 solid white;
		&:nth-child(even) {
			border-left: 0 solid white;
		}
	}
	.u-pad-right {
		padding-right: 0!important;
	}
	.u-pad-left {
		padding-left: 15px!important;
	}
	.u-mobile-show {
		display: inherit;
	}
	.u-mobile-hide {
		display: none;
	}
}

@media only screen and (max-width: 559px) {
	.mobile-nav-toggle {
		position: fixed;
		top: 13px;
		right: 18px;
		display: inherit;
		width: 30px;
		padding: 0 5px;
		z-index: 1000;
		background-color: $white;
		opacity: .7;
		hr {
			margin: 5px 0;
		}
	}
	.master-image {
		height: 180px;
	}
}

.mof1-ad {
	position: relative;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    box-shadow: 4px 4px 20px 0 rgba(90, 111, 131, 0.22);
	transition: .3s;
	&:hover {
		box-shadow: 0 0 20px -5px #000;
		transform: scale(1.005);
		transition: .3s;
	}
	&--single {
		height: 425px;
		@media only screen and (min-width: 560px) {
			height: 750px;
		}
		@media only screen and (min-width: 768px) {
			height: 260px;
		}
		@media only screen and (min-width: 1050px) {
			height: 365px;
		}
		@media only screen and (min-width: 1440px) {
			height: 500px;
		}
	}
	&--fullWidth {
		height: 90px;
		@media only screen and (min-width: 560px) {
			height: 65px;
		}
		@media only screen and (min-width: 768px) {
			height: 90px;
		}
		@media only screen and (min-width: 1050px) {
			height: 115px;
		}
	}
	a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: "";
	}
}

