.popup-curtain {
	content: "";
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-image: url('../../src/img/modal-bg.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: -1;
	opacity: 0;
	overflow: scroll;
	pointer-events: none;
	transition: opacity .2s ease, z-index .01s .2s;
	&::after {
		content: "";
		position: fixed;
		z-index: -1;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: fade-out(#000, .3);
	}
	.open-modal & {
		z-index: 9999;
		opacity: 1;
		pointer-events: initial;
		transition: opacity .2s ease .01s, z-index .01s;
	}
	.popup-modal {
		position: absolute;
		margin: 0 auto;
		left: 0;
		right: 0;
		top: 0;
		width: 90%;
		max-width: 1140px;
		min-height: 100px;
		background-color: transparent;
		@media only screen and (min-width: 768px) {
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.modal-logo {
		position: relative;
		svg {
			display: block;
			max-width: 505px;
			margin: 0 auto 6px;
		}
		p {
			font-family: 'GothamBook';
			font-size: 14px;
			color: #FFF;
			text-transform: uppercase;
		}
	}
	.modal-content {
		padding: 30px 0;
		svg {
			display: block;
			max-width: 800px;
			margin: 0 auto 35px;
		}
		p {
			font-family: 'GothamBook';
			font-size: 15px;
			color: #FFF;
			text-transform: uppercase;
			@media only screen and (min-width: 768px) {
				font-size: 19px;
			}
		}
		.button {
    		height: auto;
    		padding: 2px 18px;
			font-family: 'GothamLight';
			font-size: 16px;
			color: #FFF;
			@media only screen and (min-width: 768px) {
				font-size: 20px;
			}
			&:hover {
				color: #FFF;
				background-color: #EF6222;
				border: 2px solid #EF6222;
			}
		}
	}
	.modal-close {
		position: absolute;
		top: 15px;
		right: 18px;
		z-index: 99;
		width: 26px;
		height: 26px;
		.cls-1 {
			transition: .3s;
		}
		&:hover {
			.cls-1 {
				stroke: #EF6222;
			}
		}
	}
	&.on-page {
		position: relative;
		display: block;
		opacity: 1;
		height: auto;
		margin: 20px 0 30px;
		.popup-modal {
			position: relative;
			display: block;
			opacity: 1;
			height: auto;
			top: 0;
			transform: none;
			padding: 50px 0;
		}
		.modal-close {
			display: none;
		}
	}
}
